# Python & Jupyter
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.ipynb_checkpoints/

# Node & Astro
node_modules/
dist/
.astro/
.cache/

# IDE & OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Datasets cache & generated raw outputs
**/cache/*
!pipelines/src/space-launches/cache/launches_base.json
!pipelines/src/world-economic/cache/*.json
!pipelines/src/ua-economic/cache/*.json
!pipelines/src/war-rf-ua-attacks/cache/*.json
*.tmp
*.log
*.png
# Ephemeral build-time datasets
site/src/data/*.json

.env